<!-- board_list.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>掲示板一覧</title>
</head>
<body>
    <h1>掲示板一覧</h1>
    <form method="GET" action="{% url 'board_kensaku' %}">
        <input type="text" name="query" placeholder="検索欄">
        <button type="submit">検索</button>
    </form>
    <table border="1">
        <tr>
            <th>タイトル</th>
            <th>作成者</th>
            <th>参加人数</th>
            <th>作成日時</th>
        </tr>
        {% for board in boards %}
        <tr>
            <td>
                <a href="{% url 'board_description' board.board_id %}">{{ board.title }}</a>
            </td>
            <td>{{ board.creator.username }}</td>
            <td>{{ board.participant_limit }}</td>
            <td>{{ board.created_at|date:"Y-m-d" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">現在あがっている掲示板はありません。</td>
        </tr>
        {% endfor %}
    </table>
<a href="{% url 'board_create' %}">掲示板作成</a>
</body>
</html>
